@font-face{
    font-family: "Aeonik";
    src: url("fonts/Aeonik-Regular.woff") format("woff"), url("fonts/Aeonik-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face{
    font-family: "Aeonik";
    src: url("fonts/Aeonik-Medium.woff") format("woff"), url("fonts/Aeonik-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face{
    font-family: "Aeonik";
     src: url("fonts/Aeonik-Bold.woff") format("woff"), url("fonts/Aeonik-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face{
    font-family: "Aeonik";
     src: url("fonts/Aeonik-MediumItalic.woff") format("woff"), url("fonts/Aeonik-MediumItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 500;
    font-display: swap;
}

@font-face{
    font-family: "Aeonik";
     src: url("fonts/Aeonik-Light.woff") format("woff"), url("fonts/Aeonik-Light.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face{
    font-family: "Aeonik";
     src: url("fonts/Aeonik-LightItalic.woff") format("woff"), url("fonts/Aeonik-LightItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 300;
    font-display: swap;
}

@font-face{
    font-family: "Aeonik";
     src: url("fonts/Aeonik-BoldItalic.woff") format("woff"), url("fonts/Aeonik-BoldItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 700;
    font-display: swap;
}
@font-face{
    font-family: "Aeonik";
     src: url("fonts/Aeonik-RegularItalic.woff") format("woff"), url("fonts/Aeonik-RegularItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Berka';
    src: url('fonts/Berka-Light.woff2') format('woff2'),
        url('fonts/Berka-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


*{
  box-sizing: border-box;
  
}

body{
    margin: 0;
    padding: 0;
}

.homeSection, .aboutSection{
    margin-left: 3rem;
    margin-right: 3rem;
    border-style: none none solid none;
    padding-bottom: 2rem;
    margin-bottom: 0;
}


p{
    font-family: "Aeonik";
    font-size: 1rem;
}

h1{
    font-family: "Aeonik";
    font-size: 3rem;
}

h2{
    font-family: "Aeonik";
    font-size:2rem;
    font-weight: 400;
}

nav{
    margin-right: 3rem;
    margin-left: 3rem;
    border-style: none none solid none;
    display: flex;
    align-items: baseline;
}


.nameFlex{
    display: flex;
    gap: 1rem;
    align-items: baseline;
    text-decoration: none;
    color: black;
    
}

.titleName{
    font-weight: 500;
    font-size: 2rem;
    border-style: none solid none none;
    padding-right: 1rem
    
}

.subTitle{
    font-weight: 400;
}

.navLinks{
    font-family: "Aeonik";
    margin-left: auto;
    display: flex;
    gap: 2rem;
}

.homeImage{
    position:relative;
    height: 70vh;
    max-width: auto;
}

.homeImage img {
    width: 100%;
    height: auto;
    display: block;
}

.homeHeader{
    position:absolute;
    bottom:0;
}

.homeHeader h1{
   font-family: "Aeonik";
   font-weight: 400;
   font-size: 3.75rem;
   padding: 0;
   margin: 0rem;
}

.featureHeader{
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
    font-size: 2.75rem;
}

.featureProject{
    display: block;
    position: relative; 
    text-decoration: none;
    color: white;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    
}

.featureProject img{
    max-width: 100%;
    object-fit: cover;
    height:auto;
    
}


.featureContent{
    position: absolute;
    bottom: 0;
    right: 0;
    left:0;
    color: white;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
}

.featureContent hr{
    color: white;
}

.featureContent h3{
    font-size: 1.5rem;
    font-family: "Aeonik";
    font-weight: 700;
}

.projectDetails{
    display: flex;
    font-family: "Aeonik";
}

.projectType{
    margin-left: auto;
}

footer{
    background-color: black;
    padding-bottom: 5rem;
}

.footerGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    color: white;
    margin-left: 4rem;
    margin-right: 4rem;
}

.contacts{
    grid-column-start: 4;
}

.footerTitles{
    font-weight: 700;
}

.footerFlex{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footerFlex p{
    margin:0;
    padding:0;    
}

/* about Section */

.aboutContentPush{
    margin-left: 5rem;
    margin-right: 5rem;
}

.aboutText{
    
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    gap: 5rem;
}

.aboutText img{
    max-width: 25rem;
    height: auto;
}

.aboutHeader{
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    font-weight: 400;
    font-size: 2.5rem;
    
}

.aboutContent{
    line-height: 1.5;
}

/* Case Study */

.caseContainer{
    position: relative;
}

.caseContainer img{
    width: 100%;
    height: 45rem;
    object-fit: cover;
    display: block;
}

.caseTitle{
    
    color:white;
    position: absolute;
    bottom: 3rem;
    left:4rem;

}

.caseTitle h1{
    font-weight: 400;
    font-size: 5rem;
    margin:0;
    padding: 0;
}

.caseTitle p{
    font-weight: 300;
    font-size: 2rem;
    max-width: 35rem;
    font-style: italic;
    margin:0;
    padding: 0;
}

.projectSection{
    padding-left: 5rem;
    padding-top: 3rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
}

.grayBG{
    background-color: #221f1b;
    color: white;
}

.descriptionSubhead{
    margin: 0;
    padding:0;
}

.descriptionRoles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.descriptionHeader{
    margin-top: 1rem;
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 700;
}

.descriptionParagraph{
    font-weight: 300;
    line-height: 1.5;
}

.descriptionHeader, .descriptionParagraph, .descriptionRoles{
    max-width: 56rem;
}

.roleTitles{
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 0;

}