@font-face {
    font-family: "Aeonik";
    src: url("fonts/Aeonik-Regular.woff") format("woff"), url("fonts/Aeonik-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Aeonik";
    src: url("fonts/Aeonik-Medium.woff") format("woff"), url("fonts/Aeonik-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Aeonik";
    src: url("fonts/Aeonik-Bold.woff") format("woff"), url("fonts/Aeonik-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Aeonik";
    src: url("fonts/Aeonik-MediumItalic.woff") format("woff"), url("fonts/Aeonik-MediumItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Aeonik";
    src: url("fonts/Aeonik-Light.woff") format("woff"), url("fonts/Aeonik-Light.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Aeonik";
    src: url("fonts/Aeonik-LightItalic.woff") format("woff"), url("fonts/Aeonik-LightItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Aeonik";
    src: url("fonts/Aeonik-BoldItalic.woff") format("woff"), url("fonts/Aeonik-BoldItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Aeonik";
    src: url("fonts/Aeonik-RegularItalic.woff") format("woff"), url("fonts/Aeonik-RegularItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Berka';
    src: url('fonts/Berka-Light.woff2') format('woff2'),
        url('fonts/Berka-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    background-color: #FDFAF6;
}

.homeSection,
.aboutSection {
    margin-left: 3rem;
    margin-right: 3rem;
    border-width: 2px;
    padding-bottom: 2rem;
    margin-bottom: 0;
}

#antiPadding {
    padding-bottom: 0;
}

p {
    font-family: "Aeonik";
    font-size: 1rem;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

h1 {
    font-family: "Aeonik";
    font-size: 3rem;
}

h2 {
    font-family: "Aeonik";
    font-size: 2rem;
    font-weight: 400;
}

h3 {
    font-family: "Aeonik";
    padding-top: 0;
    margin-top: 0;
}

figure {
    padding: 0;
    margin: 0;
}

figcaption {
    font-family: "Aeonik";
    line-height: 1.5;
    font-size: 1rem;
}



.navbar {
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    
    border-width: 2px;
}

.navbar.active {
    background-color: black;
}

.navbar.active a{
    color: white;
}



.mobileLinks {
    display: none;
    flex-direction: column;
    background-color: white;
    padding: 1.5rem 2rem;
    gap: 1.5rem;
    border-bottom: 2px solid black;
}

.mobileLinks a{
    margin-left: 1rem;
    margin-right: 2rem;
    display: flex;
    text-decoration: none;
    color: white;
    border-style: none none solid none;
    padding-bottom: 1rem;
}

.mobileLinks p:nth-child(2){
    margin-left: auto;
    font-size: 2.5rem;
    line-height: 1;
}

.mobileLinks.active {
    display: flex;
    background-color: black;
    border-style: none none solid none;
    border-color: white;
}


.homeIcon {
    text-decoration: none;
    color: black;
    background-color: #EDEDED;
    padding: 0.75rem;
    border-radius: 1rem;
    width: fit-content;
    height: fit-content;
}

.homeIcon img{
    width: auto;
    max-height: 3rem;
    display: block;
}

.titleName {
    font-weight: 500;
    font-size: 2rem;
    border-style: none solid none none;
    border-width: 2px;
    padding-right: 1rem
}

.subTitle {
    font-weight: 400;
}

.navLinks {
    background-color: #EAEAEA;
    font-family: "Aeonik";
    display: flex;
    gap: 3rem;
    width:fit-content;
    padding: 1rem 1.75rem;
    border-radius: 1rem;
}

.navLinks a {
    text-decoration: none;
    color: black;
    
}

.Sandwich {
    margin-top: 0.5rem;
    border: none;
    background-color: white;
    display: none;
    position: relative;
    height: 1.5rem;
    width: 2rem;
    margin-left: auto;
    margin-right: 1.25rem;
    cursor: pointer;
}
 
.Sandwich.active{
    background-color: black;
}

.Sandwich span {
    height: 0.25rem;
    width: 100%;
    background-color: #3A3939;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    /*https://www.w3schools.com/cssref/css3_pr_transform.php for transform property*/
    transform: translate(-50%, -50%);
    transition: transform .5s ease;
}

.Sandwich span:nth-child(1) {
    top: 25%;
}


.Sandwich span:nth-child(2) {
    top: 100%;
}


.homeHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-style: none none solid none;
    border-width: 2px;
}

.homeHeader h1 {
    font-family: "Aeonik";
    color: black;
    font-weight: 400;
    font-size: 3.75rem;
    padding-bottom: 0.25rem;
    margin: 0rem;
}

.subInfoText{
    font-size: 1rem;
    font-family: "Berka";
}

.subInfoGrid{
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.subInfoSplit{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.subInfoSplit p:nth-child(2){
    text-align: center;
}

.subInfoSplit p:nth-child(3){
    text-align: right;
}

.CTAContainer{
    margin-top: 2rem;
    background-color: #0E5935;
    height: 55vh;
    border-radius: 2rem;
}

.CTAGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.CTAInfo{
    color: #FDFAF6;
    position:relative;
}

.CTAIndust, .CTABased{
    font-size: 1.25rem;
    position: absolute;
}

.CTAIndust{
    top: 8%;
}

.CTABased{
    bottom: 8%;
}

.CTABig{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    height: fit-content;
}

.CTABig p{
    font-size: 3rem;
    font-weight: 400;
    line-height: 120%;
    
}

#swapText{
    font-style: italic;
    display: inline-block;
}

.featureHeader {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
    font-size: 2.75rem;
}

.featureProject {
    display: block;
    position: relative;
    text-decoration: none;
    color: white;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    transition: filter 0.3s ease;
}

/* https://www.w3schools.com/cssref/css3_pr_filter.php */
.featureProject:hover, .featureProject:focus {
    filter: brightness(90%);
}



.featureProject img {
    max-width: 100%;
    object-fit: cover;
    height: auto;

}


.featureContent {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
}

.featureContent hr {
    color: white;
}

hr {
    stroke-width: 1px;
}

.featureContent h3 {
    font-size: 1.5rem;
    font-family: "Aeonik";
    font-weight: 700;
}

.projectDetails {
    display: flex;
    font-family: "Aeonik";
}

.projectType {
    margin-left: auto;
}

footer {
    background-color: black;
    color: white;
    padding-bottom: 5rem;
}

.footerContact {
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.footerContactHeader,
.footerContactLink {
    font-size: 3rem;
    padding: 0;
    line-height: 1.2;
    color: white;
    text-decoration: none;
    margin: 0;
}

.footerContactLink {
    display: block;
    padding-bottom: 1rem;
}

.footerArrow {
    margin-left: 1rem;
    width: 2.25rem;
    height: 2.25rem;
}


.footerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    color: white;
    margin-left: 4rem;
    margin-right: 4rem;
}

.contacts {
    grid-column-start: 4;
}

.footerTitles {
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.footerFlex {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.footerFlex p {
    margin: 0;
    padding: 0;
}

/* about Section */

.aboutContentPush {
    margin-left: 5rem;
    margin-right: 5rem;
}

.aboutText {

    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    gap: 5rem;
}

.aboutText img {
    max-width: 25rem;
    height: auto;
    object-fit: contain;
    flex-shrink: 0;
}

.aboutText div {
    min-width: 20rem;
    flex: 1;
}

.aboutHeader {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    font-weight: 400;
    font-size: 2.5rem;

}

.aboutFlex {
    display: flex;
    gap: 4.5rem;
}

.aboutFlex h2 {
    max-width: 25rem;
    flex-shrink: 1;
}

.aboutSkills {
    width: 100%;
    display: flex;
    align-items: center;
    border-style: none none solid none;
    border-width: 2px;

    padding-bottom: 0.5rem;
    color: black;
    text-decoration: none;
}

.aboutSkills p {
    font-size: 1.5rem;
}

.aboutSkills img {
    display: block;
    margin-left: auto;
    height: 60%;
    width: auto;
}

.aboutInterestDiv {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 20rem;
    margin-top: 2rem;
    flex: 1;
}

.hobbyDiv {
    margin-bottom: 2rem;
}

.hobbyDiv p {
    font-size: 1.2rem;
}

.hobbyDiv img {

    width: 100%;
    height: auto;
}

.aboutContent {
    line-height: 1.5;
}

/* Case Study */

.caseContainer {
    position: relative;
}

.caseContainer img {
    width: 100%;
    height: 45rem;
    object-fit: cover;
    display: block;
}

.caseTitle {

    color: white;
    position: absolute;
    bottom: 3rem;
    left: 4rem;

}

.caseTitle h1 {
    font-weight: 400;
    font-size: 5rem;
    margin: 0;
    padding: 0;
}

.caseTitle p {
    font-weight: 300;
    font-size: 2rem;
    max-width: 35rem;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.projectSection {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
}

.grayBG {
    background-color: #221f1b;
    color: white;
}

.lightGrayBG {
    background-color: #FAFAFA;
    padding: 3rem;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
}

.descriptionSubhead {
    margin: 0;
    padding: 0;
    padding-top: 3rem;

}

.descriptionRoles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.descriptionHeader {
    margin-top: 0.75rem;
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 700;
}

.descriptionParagraph {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: 300;
    line-height: 1.5;
}

.descriptionHeader,
.descriptionParagraph,
.descriptionRoles {
    max-width: 56rem;
}

.roleTitles {
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 0;

}

.explainationHeading {
    font-family: "Aeonik";
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.albertResearchFlex {
    display: flex;
    gap: 3rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}


.albertTassen {
    width: 100%;
    height: auto;
}

.shrink {
    max-width: 56rem;
}

.heatingGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 2rem;
}

.heatHeading {
    font-weight: 700;
    font-size: 1.15rem;
}

.heatTesters {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    height: auto;
    max-height: 25rem;
    max-width: 100%;
    object-fit: contain;

}

.connectionFlex {
    display: flex;
    gap: 3rem;
    padding: 2rem;
    align-items: center;
}

.connectionImage {
    width: 50%;
    height: auto;
}

/* https://css-tricks.com/list-style-recipes/ */

.circleList {
    font-family: "Aeonik";
    font-weight: 700;
    font-size: 1.1rem;
    list-style: none;
    counter-reset: Counter;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
    padding: 0;
}

.circleList li {
    counter-increment: Counter;
    font-weight: 500;
    display: flex;
    align-items: center;


}

.circleList li::before {
    content: counter(Counter);
    margin-right: 0.5rem;
    background: #00BFFF;
    color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    display: inline-grid;
    place-items: center;
    line-height: 2rem;
    flex-shrink: 0;
}

.sheathPattern {
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: auto;
}

.errorList {
    font-family: "Aeonik";
    font-weight: 400;
    font-size: 1rem;
    list-style: none;
    counter-reset: Count;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

.errorList li {
    counter-increment: Count;
    font-style: italic;
    font-weight: 400;
    display: flex;
    align-items: center;

}

.errorList li::before {
    content: counter(Count);
    width: 3rem;
    display: inline-block;
    margin-right: 1rem;
    border-right: 2px solid black;
    padding-right: 1.5rem;
    line-height: 1;
    font-size: 3rem;
}

.errorFlex {
    padding: 2rem;
    padding-top: 1rem;
    display: flex;
    gap: 3rem;
    padding-bottom: 4rem;
}

.errorFlex img {
    width: 60%;
    height: auto;
}

.prefabFlex {
    position: relative;
    display: flex;
    gap: 3rem;
}

.prefabFig {
    margin-left: auto;
    margin-right: 2rem;
    max-width: 35rem;
}

.prefabFig img {
    width: 100%;
    height: auto;
}

.prefabDiff {
    margin-top: 7rem;
}

.pointHeader {
    font-size: 1.5rem;
    font-family: "Aeonik";
    font-weight: 400;
}

.pointList {
    list-style: none;
    padding-left: 2.5rem;
}

.pointList li {
    position: relative;
    font-family: "Aeonik";
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 2rem;
    padding-left: 2.4rem;
}

.pointList li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.2rem;
    width: 1.25rem;
    height: 1.25rem;
    background-color: #00BFFF;
    border-radius: 50%;
}

.assemblyFlex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    align-items: end;
    justify-items: center;
}

.assemblyCont img {
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.assemblyCont p {
    text-align: center;
}

.finalHeaderPadding {
    padding-top: 3rem;
}

.finalAlbertGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
}

.finalAlbertGrid img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* https://www.w3schools.com/cssref/pr_grid-column.php */
.longFinalAlbert {
    grid-column: 1/4;
}

@media(width < 74rem) {
    .errorFlex {
        flex-direction: column;
    }

    .errorFlex img {
        width: 100%;
        height: auto;
        order: 1;
    }

    .errorList {
        order: 2;
    }

    .prefabFlex {
        gap: 1rem;
        flex-direction: column;
    }

    .prefabFig {
        margin-left: 0;
        margin-right: 0;
        max-width: none;
    }

    .prefabDiff {
        margin-top: 0rem;
    }

    .shrink {
        max-width: none;
    }
}

@media(width < 66.25rem) {
    .projectSection {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 2rem;
    }

    .homeSection {
        margin-left: 0;
        margin-right: 0;
    }


    .aboutContentPush {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .aboutText {

        margin-top: 2rem;
        margin-bottom: 0rem;
        gap: 1rem;
        flex-direction: column;
    }

    .aboutText img {
        width: 100%;
        max-width: 25rem;
        height: auto;
        object-fit: contain;
        flex-shrink: 1;
    }

    .aboutText div {
        min-width: 0;
        flex: 1;
    }

    .aboutHeader {
        margin-bottom: 2rem;
        margin-top: 0rem;
        font-weight: 400;
        font-size: 2.5rem;

    }

    .aboutFlex {
        flex-direction: column;
        gap: 1rem;
    }

    .aboutFlex h2 {
        max-width: none;
    }

    .aboutInterestDiv {
        margin-top: 0rem;
        min-width: 0;
    }

    .lightGrayBG {
        padding: 2rem;
    }

    .assemblyFlex {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        align-items: baseline;
        justify-items: baseline;

    }

    .assemblyCont {
        display: flex;
    }

    .assemblyCont img {
        width: 40%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        object-fit: cover;
    }

    .assemblyCont p {
        margin: 2rem;
        text-align: left;
        width: 50%;
    }

    .heatingGrid {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .heatP {
        text-align: center;
    }
}

@media(width < 55rem) {
    .titleName {
        font-weight: 500;
        font-size: 1.5rem;
        border-style: none solid none none;
        border-width: 2px;
        padding-right: 1rem
    }

    .subTitle {
        font-size: 0.75rem;
        font-weight: 400;
    }

    .Sandwich {
        display: block;
        margin-bottom: auto;
    }

    .navLinks {
        display: none;
    }

    .Sandwich.active span:nth-child(1) {
        background-color: white;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .Sandwich.active span:nth-child(2) {
        background-color: white;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }


}

@media(width < 50rem) {
    .descriptionRoles {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .albertResearchFlex {
        flex-direction: column;
        gap: 2rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }


    .connectionFlex {
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
    }

    .connectionImage {
        width: 100%;
    }

    .lightGrayBG {
        padding: 1rem;
    }

    .circleList {
        grid-template-columns: 1fr;

    }

    .finalAlbertGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 1rem;
    }

    .footerGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .contacts {
        grid-column-start: 3;
    }

    .footerContact {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media(width<45rem) {
    .featureContent {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }
}

@media(width<40rem) {
    .titleName {
        border-style: none none none none;

    }

    .subTitle {
        display: none;
    }

    .featureContent h3 {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    .projectDetails {
        flex-direction: column;
    }

    .projectType {
        margin-left: 0;
    }

    .featureContent {

        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;

    }
}

@media(width < 30rem) {

    .footerGrid {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }


    .descriptionRoles {
        display: grid;
        grid-template-columns: 1fr;

    }

    .projectSection {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .caseTitle {

        color: white;
        position: absolute;
        bottom: 2rem;
        left: 2rem;

    }

    .assemblyCont {
        flex-direction: column;
    }

    .assemblyCont img {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        object-fit: cover;
    }

    .assemblyCont p {
        margin: 0;
        margin-top: 1rem;
        text-align: left;
        width: 100%;
    }


    .finalAlbertGrid {
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-template-rows: auto;
        gap: 1rem;
    }

    .footerContactHeader,
    .footerContactLink {
        font-size: 2rem;
    }

    .footerArrow {
        margin-left: 1rem;
        width: 1.75rem;
        height: 1.75rem;
    }
}

.animate-swap {
  animation: textSwap 0.5s forwards;
}

@keyframes textSwap {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0;
    transform: translateY(-10px);
  }

  51% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}