footer
  .footerContact
    p (CONTACT)
    p.footerContactHeader INTERESTED IN WORKING TOGETHER?
    a.footerContactLink(href="") SEND ME A MESSAGE
    hr

  .footerGrid
    p.footerTitles EXTRAS

    .contacts
      p.footerTitles Buisness
      .footerFlex
        a email
        a Linkedin
        a Resume

    div
      p.footerTitles Pages
      .footerFlex
        a Home
        a Works
        a About
        a Contacts

    div
      p.footerTitles Credits
      .footerFlex
        p Designed by DC
        p Last Updated: 2025