header
  nav
    a.nameFlex(href="./Home.html")
      p.titleName DESMOND CHEN
      p.subTitle Product Designer in Vancouver BC

    .navLinks
      // a Work
      a(href="About.html") About
      a Resume